#mainDiv {
 	padding:10px;
 	border: 5px solid #000044;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 550px;
	margin: auto;
	color: #000044;
	background-color: rgba(255, 255, 255, 0.70);	
	float: left;
}
#navigation {
	width: 300px;
	margin: auto;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
}
#imgLoader {
	border: 5px dashed #C0C0C0;
	-moz-border-radius: 15px;
	border-radius: 15px;
	float: right;
	min-height: 150px;
	height: auto !important;
	padding-bottom: 10px;
	width: 260px;
	text-align: center;
}
.camera {
	cursor:pointer;
	opacity:0.4;
	filter:alpha(opacity=40);
}
.addPhoto {
	text-align: left;
	padding: 10px;
}
.previewImg {
	margin-top: 10px;
}