#petDiv {
    margin-top:15px;
    min-height: 250px;
    height: auto !important;
}
#primaryImage {
    margin-left: 20px;
    float: left;
}
#imgSelect {
    margin-left: 20px;
    float: left;
    clear: left;
    margin-top: 10px;
}
#petDetails {
    float: right;
    min-width: 600px;
    width: auto !important;
    min-height: 250px;
    height: auto !important;
    margin-right:  20px;
}

a {
	color: inherit;
	text-decoration: none;
}
td {
    border: 1px solid #909299;
}
table {
    border: 1px solid #909299;
    font-size: 10pt;
}
th {
    text-align: left;
    border: 1px solid #909299;
}
#tblAddreport th,#tblAddreport td,#tblAddreport {
	border: none;
}
#vacDetailsDiv {
	padding:10px;
    border: 5px solid #909299;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 550px;
	margin: auto;	
}
input,select {
	width: 280px;
}