.result {
	font-weight: bold;
	color: #F00;
	font-size: 12pt;
	float: right;
}
.fail {
	color: #F00;
	font-size: 9pt;
	text-align: left;
	margin: 0 auto;
	width: 550px;
	height: auto;
	padding: 10px;
	overflow: hidden;
}
#formDiv {
 	padding:10px;
    border: 5px solid #909299;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 550px;
	margin: auto;
}
input {
    width: 300px;
}

#heading {
	border: 5px solid #909299;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #33CCFF;
	color: #FFF;
	padding: 10px;
	font-size: 18pt;
	margin: auto;
	margin-bottom: 15px;
	width: 600px;
}
#welfareDetails {
	border: 5px solid #909299;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 10px;
	margin: auto;
	width: 600px;	
}
a {
    text-decoration: none;
}