#transferDiv { 
	min-width:550px;
	width: auto;
	height:30px;
	border: 5px solid #909299;
	-moz-border-radius: 15px;
	border-radius: 15px;
	float:left;
	padding:10px;
	margin-left: 20px;
	margin-bottom: 15px;
}
#imgLoader {
	border: 5px solid #909299;
	-moz-border-radius: 15px;
	border-radius: 15px;
	float: right;
	min-height: 150px;
	height: auto !important;
	padding-bottom: 10px;
	width: 260px;
	text-align: center;
	margin-right: 20px;
}
#petDetails {
	width:630px;
	min-height: 250px;
	height: auto !important;
	float: left;
	border: 5px solid #909299;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-left: 20px;
	margin-bottom: 15px;
	padding: 10px;
	background-color: #e7e7e7;
}
.camera {
	cursor:pointer;
	opacity:0.4;
	filter:alpha(opacity=40);
}
.addPhoto {
	text-align: left;
	padding: 10px;
}
.previewImg {
	margin-top: 10px;
}

#headerDiv {
    background-color: #33CCFF;
    color: #FFF;
    font-size:18pt;
    padding: 10px;
    border: 5px solid #909299;
	border-radius: 15px;
	-moz-border-radius: 15px;
    width: 630px;
    margin-left: 20px;
    margin-bottom: 15px;
    float: left;
}
#headerDiv2 {
    background-color: #33CCFF;
    color: #FFF;
    font-size:18pt;
    padding: 10px;
    border: 5px solid #909299;
	border-radius: 15px;
	-moz-border-radius: 15px;
    width: 240px;
    margin-right: 20px;
    margin-bottom: 15px;
    float: right;
}
select,input {
	width: 300px;
}
a {
	text-decoration: none;	
}
#imgLoader input {
	width: 220px; 
}
#divPreviewFree {
    width: 160px;
    text-align: center;
    margin: auto;
    margin-top:  10px;
    border: 1px dashed #909299;
}

#imgPreviewFree {
    padding: 5px;
    border-top: none;   
}
#closeFreePreviewBar {
    width: 160px;
    background-color: #909299;
    text-align: right;
    font-weight: bold;
    font-size: 8pt;
    color: #FFF;
    cursor: pointer;
}
#pet_assigned_by_usr_id {
	padding: 3px;
	font-size: 15pt;
	border: 5px solid #33CCFF;
	width: 500px;
}