#searchBox {
	width:450px;
	height:141px;
	margin: auto;
	background-image: url('../img/loginbox-withcat.png');
	background-repeat:no-repeat;
	margin-top:20px;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
	font-size: 12pt;
}
#boxLeft {
 	margin-top: 20px;
 	margin-bottom: 20px;
	width: 440px;
	min-height: 100px;
	height: auto !important;
	padding-left: 20px;
    padding-right: 20px;
	float: left;
    font-size: 11pt;
}
#boxRight {
 	margin-top: 20px;
 	margin-bottom: 20px;
	float: right;
	width: 460px;
	min-height: 100px;
	height: auto !important;
	padding-right: 20px;	
    font-size: 11pt;
}

a {
	color: #33CCFF;
	text-decoration: none;
	font-weight: bold;
}

.bmh {
    font-weight: bold;
}