#wrapperDiv {
    border: 5px solid #909299;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 900px;
	margin: auto;
    margin-top: 15px;
    min-height: 300px;
    height: auto !important;
}
#ownerHeading {
    margin-left:20px;
    margin-right: 15px;
    color: #33CCFF;
    font-size: 18pt;
    font-weight: bold;
    float: left;
    display: inline;
}
#ownerDetails {
    background-color: #33CCFF;
    color: #FFF;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 60px;
    margin-bottom: 20px;
}
#ownerName {
    font-weight: bold;
    font-size: 20pt;
    float:left;
}
#contactDetails {
    float: left;
    clear: left;
    margin-top: 10px;
}

.primaryImage {
    margin-left: 20px;
    float: left;
}
.imgSelect {
    margin-left: 20px;
    float: left;
    clear: left;
    margin-top: 10px;
}
.petDetails {
    float: right;
    min-width: 600px;
    width: auto !important;
    min-height: 250px;
    height: auto !important;
    margin-right:  20px;
}
.petMiniCard {
    height: 290px;
}

a {
	color: inherit;
	text-decoration: none;
}
td {
    border: 1px solid #909299;
}
table {
    border: 1px solid #909299;
    font-size: 10pt;
}
th {
    text-align: left;
    border: 1px solid #909299;
}
.lbl {
    background-color: #dfdfe1;
}
.vacHistory {
    margin-left: 20px;
    float: left;
    clear: left;
    margin-top: 10px;
    cursor: pointer;
    padding-right:  10px;
}
.vacHistory:hover {
    background-color: #33CCFF;
    color: #FFF;
}
.addNewPet {
	margin: 10px;
	padding: 15px;
	border-radius: 10px;;
	overflow: hidden;
	width: 300px;
	height: auto;
	background-color: #eee;
}
#addPetDiv {
	clear: right;
}
#pet_rfid {
	margin-top: 10px;
	font-size: 14pt;
	padding: 5px;
	width: 280px;
}