th {
	text-align: left;
}
.adminRow:hover {
	background-color: #33CCFF;
    cursor: pointer;
    color: #FFF;
}
.nonAdminRow:hover {
	background-color: #33CCFF;
    cursor: pointer;
    color: #FFF;
}
.adminHeadingRow {
    background-color: #33CCFF;
    cursor: default;
    color: #FFF;
}
.headingRow {
    background-color: #33CCFF;
    cursor: default;
    color: #FFF;
}
#resultsDiv {
    padding:10px;
    border: 5px solid #909299;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin: auto;
}
a {
	color: inherit;
	text-decoration: none;
}