#registerDiv {
 	padding:10px;
    border: 5px solid #909299;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 550px;
	margin: auto;
	color: #FFF;
	background-color: #33CCFF;	
	margin-bottom: 15px;
}