#lastRanDiv {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
table {
    font-size: 10pt;
    margin-left: 20px;
    margin-right: 20px;
}
th {
    text-align: left;
    background-color: #dfdfe1;
}
h3 {
    margin-left: 20px;
}