a {
    text-decoration: none;
}
#metrics {
  margin-left: 20px;
  width: 300px;
  float: left;
}
#detailsDiv {
	clear: left;
	margin-left: 10px;
	width: auto;
	min-height: 320px;
	background-color: #909299;
	margin-bottom: 10px;
	color: #FFF;
	padding:10px;
}
.val {
	float: left;
	background-color: #33CCFF;
	padding: 5px;
	color: #FFF;
	width: 60px;
	text-align: center;
}
.desc {
	float: left;
	padding: 5px;
	background-color: #909299;
	color: #FFF;
	width: 220px;
}
.metricDiv {
	width: 310px;
	height: auto;
	overflow: hidden;
	margin-bottom: 5px;
	cursor: pointer;
}
table {
	color: #FFF;
	font-size: 11pt;
}
thead {
	background-color: #33CCFF;
}
#detailsHeadingDiv {
	margin-bottom: 10px;
}
.usr,.pet {
	cursor:pointer;
}
tbody > tr:hover {
	background-color: #CD3333;
} 
#chartRow:hover {
	background-color: #909299;
}
#mainMetric {
	float: left;
	width: auto;
	margin-left: 20px;
	height: 110px;
	background-color: #33CCFF;
	color: #FFF;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 20px;
	cursor: pointer;
}
#mainMetricHeading {
	text-align: center;
	padding: 10px;
	background-color: #909299;	
}
#completedRegistrationsDiv {
	font-size: 40px;
	padding-top: 5px;
}
#searchDiv {
	float: left;
	width: auto;
	height: auto;
	overflow: hidden;
	background-color: #909299;
	color: #FFF;
	margin-bottom: 10px;
	padding: 10px;
}
.searchInput {
	margin-top: 5px;
}
.searchInput input {
	width: 200px;
	font-size: 12pt;
	padding:4px;
	border: 2px solid #33CCFF;
}