#emailBox {
	width: 530px;
	height: 170px;
	margin: auto;
	background-image: url('../img/loginbox.png');
	background-repeat: no-repeat;
	margin-bottom: 20px;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
	font-size: 11pt;
	padding: 20px;
}
a {
    text-decoration: none;
}
#heading {
    margin-left: 20px;
    font-size: 18pt;
    font-weight: bold;
}
#verifcationResults {
    margin-left: 20px;
    margin-top: 20px;
}
.contactDiv {
	float:left;
	width: 220px;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #dfdfe1;
	margin-left: 20px;
}
u {
	font-weight: bold;
}